*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#page-wrapper{
    position: relative;
}

li{
    list-style: none;
    padding-bottom: 0.5rem;
}

a{
    color: #000;
    text-decoration: none;;
}

.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.btn{
    padding: 0 20px;
    height: 40px;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    border: 5px black;
    border-radius: 10px;
    background-color: orange;
    cursor: pointer;

}

.grid{
    display: flex;
}

header{
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    width: 100%;
}

@media (max-width: 600px){
    header{
        flex-wrap: wrap;
    }

    .logo{
        width: 60vw;
    }
}

@media (max-width: 650px) {
    .logo {
      margin-top: 15px;
      width: 100%;
      position: relative;
    }
}

.logo > img{
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

@media (max-width: 650px) {
    .logo > img {
      margin: 0 auto;
    }
  }

nav{
    font-weight: 400;
}  

@media (max-width: 650px){
    nav{
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }
}

nav > li{
    padding-bottom: 0.7rem;
}

nav > ul{
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 650px) {
    nav > ul {
      flex-direction: column;
    }
  }

#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 2rem;
    margin-top: 10rem;
}  

#hero > h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

#hero input[type='email']{
    max-width: 300px;
    width: 100%;
    height: 2rem;
    padding: 5px;
    margin-bottom: 10px;
}



@media (max-width: 650px) {
    #hero {
      margin-top: 200px;
    }
  }

#features{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}  

#features .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;

}

@media (max-width: 550px) {
    #features .icon {
      display: none;
    }
  }

#features .desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

@media (max-width: 550px) {
    #features .desc {
      width: 100%;
      text-align: center;
      padding: 0;
      height: 150px;
    }
  }

#how-it-works{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}  

#how-it-works > iframe{
    max-width: 560px;
    width: 100%
}

#pricing{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% /3 );
    margin: 10px;
    border: 2px solid gray;
}

.product > .level{
    background-color:gainsboro;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.product > h2 {
    margin-top: 15px;
  }
  

.product > ol {
    margin: 15px 0;
  }
  
  .product > ol > li {
    padding: 10px 0;
  }

.product > button{
    margin: 15px 0;
}  
  
@media (max-width: 800px) {
    #pricing {
      flex-direction: column;
    }

    .product{
         width: 100%;
         max-width: 300px;
         margin: 0 auto;
         margin-bottom: 10px;
    }
}

footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
}

footer > ul {
    display: flex;
    justify-content: flex-end;
}

footer > ul > li {
    padding: 0 10px;
}

footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}


  